<!-- EJS for the URLs index page, display URL database created by the user -->

<!DOCTYPE html>
<html lang="en">
  <head>
    </head>
        <body>
          <header><%include ./partials/_header.ejs%></header>
            <ul>
              <br></br>
                <% Object.keys(urls).forEach(function (key) { %>
                  <li><%= key %> - <%= urls[key].longURL %>
                    <form method="POST" action="/urls/<%=key%>/delete">
                      <input type="submit" name="delete" value="Delete">
                    </form>
                  <a href="/urls/<%= key %>">Edit</a>
                  </li>
                  <br></br>
                <% }); %>
            </ul>
      <% if(userID) {%>
        <div align="left">
          Logged in as: <%= userID %>
        </div>
      <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
<% } %>
</br>

<style>
    body{
      background-color: #ADD8E6;
        }
</style>

<a href=/urls/new>Shorten a new URL!</a>
  <br></br>
    <a href=/login>Login</a>
  <br></br>
<a href=/register>Register</a>

</body>
  </html>

<style>
  h1 {text-align:center;}
  p {text-align:center;}
</style>

<br></br>
<br></br>

<h1><a href=/urls>TinyApp</a></h1>
<p>A cool app.</p>
